<aside class="sidebar">
  <nav>
    <ul class="sidebar-list">
      <li>
        <a
          [routerLink]="['/c0']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="sidebar-link main-link"
        >
          <span class="sidebar-icon">🏠</span>
          {{ 'MAIN.MAIN_PAGE' | translate }}
        </a>
      </li>
      <li *ngFor="let item of menuItems$ | async">
        <a [routerLink]="item.routerLink" routerLinkActive="active-link" class="sidebar-link">
          <span class="sidebar-icon">🔗</span>
          {{ item.label | translate }}
          <span *ngIf="item.synchronizationEnabled" class="sidebar-badge">{{ 'MAIN.SYNC' | translate }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
